<ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#bar">Bar </a></li>
    <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#menu1">EC</a></li>
    <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#menu2">Kreditkarte</a></li>
    <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#menu3">Gutschein</a></li>
    <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#menu4">Sonstige</a></li>
</ul>
<div class="tab-content">
    <div id="bar" class="tab-pane active">
        <app-suggested-amount></app-suggested-amount>
    </div>
</div>